body {
    background: blue;
    display: flex;
    justify-content: center;
}

.game {
    margin-top: 100px;
}

#start {
    padding: 10px 30px;
    background-color: white;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 50px;
    margin-right: 100px;
}

.game-area {
    background: white;
    width: 600px;
    aspect-ratio: 1;
    overflow: hidden;
}

.game-object {
    width: 100px;
    aspect-ratio: 1;
    background: red;
    transform: translateY(-100%);
    position: relative;
}

.move {
    animation-name: movement;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

@keyframes movement {
    to {
        transform: translateY(600px);
    }
}

span {
    font-weight: bold;
    color: white;
    margin-right: 25px;
    font-size: 26px;
}

.score {
    border: 3px solid white;
    font-size: 32px;
    padding: 10px;
}

.you-lose {
    display: none;
    position: absolute;
    font-size: 160px;
    color: red;
    top: 45%;
    left: 23%;
}

.you-win {
    display: none;
    position: absolute;
    font-size: 160px;
    color: gold;
    top: 45%;
    left: 28%;
}
